In [1]:
import pickle

print('Reading file...')
with open('../data/yg_tripdata_2016-05.pickle', 'rb') as f:
    nyc_taxi = pickle.load(f)

Reading file...

In [2]:
nyc_taxi.head()

,VendorID,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance,total_amount,type,drop_day,drop_hour,pick_day,pick_hour,raw_coords,coords
0,1,2016-05-01,2016-05-01 00:17:31,-73.985901,40.768040,-73.983986,40.730099,3.60,17.80,yellow,1,0,1,0,"[(585586.2552901306, 4513502.404455168, 18, T)...","[585586.2552901306, 4513502.404455168, 585796...."
1,2,2016-05-01,2016-05-01 00:07:31,-73.991577,40.744751,-73.975700,40.765469,1.68,9.68,yellow,1,0,1,0,"[(585136.8994288251, 4510911.662508469, 18, T)...","[585136.8994288251, 4510911.662508469, 586450...."
2,2,2016-05-01,2016-05-01 00:07:01,-73.993073,40.741573,-73.980995,40.744633,1.09,9.36,yellow,1,0,1,0,"[(585014.6968170521, 4510557.472221499, 18, T)...","[585014.6968170521, 4510557.472221499, 586030...."
3,2,2016-05-01,2016-05-01 00:19:47,-73.991943,40.684601,-74.002258,40.733002,4.21,21.96,yellow,1,0,1,0,"[(585182.6177234105, 4504234.245614773, 18, T)...","[585182.6177234105, 4504234.245614773, 584249...."
4,2,2016-05-01,2016-05-01 00:06:39,-74.005280,40.740192,-73.997498,40.737564,0.56,8.76,yellow,1,0,1,0,"[(583985.7808925316, 4510392.42949062, 18, T),...","[583985.7808925316, 4510392.42949062, 584646.1..."